* {
	box-sizing: border-box;
}

html {
	font-family: "Geist", sans-serif;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

body:has(.loader) {
	height: 100%;
	margin: 0;
	justify-content: center;
}

main:has(.loader) {
	width: auto;
}
main {
	width: 100%;
    border-radius: 0.75em;
}