h1 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    margin: 0 0 0.5em 0;
}

.container {
    margin: 1em 0;
}

.accessSet {
    margin: 1em 0.5em;
}

.buttonWrapper {
    margin: 1em 0 0 0;
    display: flex;
}

.buttonWrapper > * {
    flex-grow: 1;
}

.alertWrapper {
    position: fixed;
    margin: 0.5em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5em;
}